---
import CTA from "../components/CTA.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="404 Not Found">
  <div class="prose prose-invert mb-24">
    <h1>Page Not Found</h1>
    <p>Sorry, we couldn’t find the page you were looking for!</p>
  </div>
  <CTA href="/">Go back home →</CTA>
</Layout>
