---
import Layout from "../layouts/Layout.astro";

const ctas = [
  {
    title: "Badges",
    description: "Add a badge to your repository or website",
    href: "/bwa/",
    img: {
      src: "/v1/built-with-astro/large.svg",
      alt: "Built with Astro",
      width: "300",
      height: "55",
    },
  },
  {
    title: "Contributors",
    description: "Celebrate your GitHub contributions 🥳",
    href: "/contributors/",
    img: {
      src: "/v1/contributor/FredKSchott.svg",
      alt: "@FredKSchott Astro contributions",
      width: "300",
      height: "200",
    },
  },
];
---

<Layout>
  <div class="grid gap-12 md:gap-24 place-items-center">
    <h1 class="text-5xl md:text-8xl font-thin">Astro Badges</h1>
    
    <ul class="flex flex-wrap justify-center gap-12">
      {
        ctas.map(({ href, title, description, img }) => (
          <li class="p-6 -m-6 md:m-0 relative group space-y-4 rounded-3xl will-change-transform hover:bg-accent-400/5 focus-within:bg-accent-400/5 focus-within:outline outline-accent-400/30 motion-safe:transition motion-safe:duration-700 hover:-translate-y-1 focus-within:-translate-y-1">
            <h2 class="font-black text-3xl">
              <a {href} class="after:absolute after:inset-0 text-transparent bg-clip-text bg-gradient-to-r from-accent-400 via-primary-200 to-accent-400 motion-safe:transition-all motion-safe:duration-500 bg-[length:200%_100%] bg-right hover:bg-left focus:outline-none">
                {title}
              </a>
            </h2>
            <p class="text-neutral-300">{description}</p>
            <img {...img} class="rounded-3xl shadow-2xl shadow-primary-400/20 will-change-transform group-focus-within:shadow-lg group-hover:shadow-lg group-focus-within:shadow-primary-500/20 group-hover:shadow-primary-500/20 group-focus-within:translate-y-1 group-hover:translate-y-1 motion-safe:transition motion-safe:duration-700 pointer-events-none" />
          </li>
        ))
      }
    </ul>
  </div>
</Layout>
