<footer class="text-center p-6 mt-12 text-sm text-neutral-300">
  <p class="flex flex-wrap gap-4 justify-center">
    <a href="https://astro.build">
      <img
        src="/v2/built-with-astro/tiny.svg"
        alt="Built with Astro"
        width="120"
        height="20"
        loading="lazy"
        class="inline"
      />
    </a>
    <a href="https://github.com/delucis/astro-badge" class="underline"> Source code on GitHub</a>
  </p>
</footer>
