<footer
  class="text-center p-4 mt-12 text-sm text-neutral-300 border-t border-neutral-700"
>
  <p>
    Built with Astro 🚀
    <a href="https://github.com/delucis/astro-badge" class="underline">
      Source code on GitHub
    </a>
  </p>
</footer>
